.ui-39 {
    margin: 0 auto;
}
.ui-39 ul li {
    width: 25%;

}
.ui-39 ul li a {
    padding: 12px 0 12px 0;
}


.logo {
    margin-top: 20px;
    margin-bottom: 30px;
}

.bg-lime-4 {
    background: #5eeb41;
    border: 1px solid;
}

.bg-lime-3 {
    background: #5ee141;
    border: 1px solid;
}

.bg-lime-2 {
    background: #5ed741;
    border: 1px solid;
}

.bg-lime-1 {
    background: #5dcd40;
    border: 1px solid;
}

.bg-lime {
    background: #5dc340;
    border: 1px solid;
}

.bg-lime1 {
    background: #61b93d;
    border: 1px solid;
}

.bg-lime2 {
    background: #52af3d;
    border: 1px solid;
}

.bg-lime3 {
    background: #5fa537;
    border: 1px solid;
}

.bg-lime4 {
    background: #579b35;
    border: 1px solid;
}

.bg-lime5 {
    background: #4e9134;
    border: 1px solid;
}

.bg-lime6 {
    background: #448734;
    border: 1px solid;
}
