.ui-39 {
    margin: 0 auto;
}

.ui-39 ul li {
    width: 25%;
}

.ui-39 ul li a {
    padding: 12px 0 12px 0;
    border: 2px solid;
}

.logo {
    margin-top: 20px;
    margin-bottom: 30px;
}

.bg-lime-4 {
    background: #5eeb41;
}

.bg-lime-3 {
    background: #5ee141;

}

.bg-lime-2 {
    background: #5ed741;

}

.bg-lime-1 {
    background: #5dcd40;

}

.bg-lime {
    background: #5dc340;

}

.bg-lime1 {
    background: #61b93d;

}

.bg-lime2 {
    background: #52af3d;

}

.bg-lime3 {
    background: #5fa537;

}

.bg-lime4 {
    background: #579b35;

}

.bg-lime5 {
    background: #4e9134;

}

.bg-lime6 {
    background: #448734;

}
